*{
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    position: relative;
}
header {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 7%;
    width: 100%;
    background-color: #3d405b;
    color: white;
    position: fixed;
}

header .logo-box {
    display: flex;
    gap: 3%;
    cursor: pointer;
}

header .logo-box img {
    filter: invert(1);
    margin-top: 1%;
}

header .title-box {
    display: flex;
    flex-direction: column;
}

header .title-box .main-title {
    font-size: 24px;
    font-weight: 700;
}

header .title-box .sub-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

header .nav-header {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 70%;
}

header ul li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header ul li a:hover {
    color: #edc88d;
}

.fa-angle-down:hover {
    color: #edc88d;
}

header .dropdown-menu {
    position: relative;
    padding: 20px;
}

header .dropdown-content {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    color: grey;
    width: 100px;
    top: 40px;
    padding: 0px 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

header .dropdown-content div {
    margin-top: 14%;
}

header .dropdown-content a {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

header .dropdown-menu:hover .dropdown-content {
    display: block;
}

.btn-primary {
    color: #edc88d;
    background-color: transparent;
    border: 2px solid #edc88d;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 700;
}

.btn-primary a {
    color: #edc88d;
    text-decoration: none;
}

.btn-primary a:hover {
    color: white;
}

.btn-primary:hover {
    background-color: #edc88d;
    color: white;
}
.home-section {
    background-image: url("img/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #3d405b;
    opacity: 0.5;
}

.home-content {
    position: absolute;
    display: flex;
    gap: 20%;
    margin: 12% 8%;
    color: white;
}

.home-content .content-left {
    width: 30%;
}

.home-content .content-left .content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 8% 0%;
}

.home-content .content-left .content-actions p {
    font-weight: 600;
}

.home-content .content-left h1 {
    font-size: 36px;
    line-height: 1.5;
    line-height: 1.5;
    color: white;
}

.btn-full-primary {
    background-color: #edc88d;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 700;
    border: none;
}

.btn-full-primary a {
    color: white;
    text-decoration: none;
}

.btn-full-primary a:hover {
    color: white;
}

.btn-full-primary:hover {
    background-color: #fb8449;
}

.home-content .content-right {
    width: 50%;
}

.home-content .content-right iframe {
    border-radius: 20px;
}

.about-section {
    margin: 5% 7%;
}

.about-section h1 {
    font-size: 34px;
}

.about-section .about-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10%;
    line-height: 2;
    margin-top: 5%;
}

.text-secondary {
    color: grey;
    font-size: 18px;
}

.text-muted {
    color: grey;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 1%;
}

.about-section .about-wrapper .about-top {
    width: 70%;
    height: 100%;
}

.about-section .about-wrapper .about-top .about-title {
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.about-section .about-wrapper .about-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 2px;
}

.about-section .about-wrapper .about-bottom h2 {
    font-weight: 500;
}

.about-section .about-wrapper .about-bottom img {
    border-radius: 20px;
}

.about-section .about-wrapper .about-bottom .team-caption {
    display: flex;
    gap: 44%;
    align-items: center;
}
.subscription-section {
    background-image: url("img/about2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.subscription-section .form-container {
    background-color: rgba(254, 239, 229, 0.7);
    width: 35%;
    height: 30%;
    border-radius: 20px;
    margin: 8%;
    padding: 50px;
    position: absolute;
}

.subscription-section .form-container h1 {
    font-size: 34px;
}

.subscription-section .form-container p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
}

.input-wrapper {
    background-color: white;
    margin-top: 5%;
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper input {
    border: none;
    font-size: 20px;
    outline: none;
}

.fa-envelope {
    font-size: 20px;
}

.input-wrapper button {
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #f2cc8f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.input-wrapper button:hover {
    background-color: #fb8449;
}
.membership-section {
    margin: 5% 7%;
}
.membership-section h1 {
    font-size: 34px;
}
.membership-wrapper {
    display: flex;
    column-gap: 7%;
    margin-top: 4%;
}
.membership-wrapper p {
    font-size: 24px;
    font-weight: 500;
}
.membership-wrapper .pricing-table {
    border-collapse: collapse;
    margin-top: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.membership-wrapper .pricing-table thead tr th {
    background-color: #3d405b;
    color: white;
    padding: 20px 40px;
}
.membership-wrapper .pricing-table tbody tr td {
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.membership-wrapper .pricing-table tbody tr td:nth-child(1) {
    text-align: left;
    color: #212529;
}
.membership-wrapper .pricing-table tbody tr:nth-child(odd) {
    background-color: white;
}
.membership-wrapper .pricing-table tbody tr:nth-child(even) {
    background-color: #f4f1de;
}
.fa-circle-check {
    color: #81b29a;
}
.fa-circle-xmark {
    color: #e07a5f;
}
.registration-form {
    margin-top: 10%;
    background-color: #3d405b;
    color: white;
    padding: 30px;
    width: 180%;
    border-radius: 20px;
}
.registration-form .form-fields {
    display: flex;
    margin-top: 3%;
    gap: 20px;
    flex-direction: column;
}
.registration-form .form-fields input {
    padding: 20px 30px;
    width: 88%;
    border-radius: 50px;
    border: none;
}
.registration-form .form-fields textarea {
    width: 88%;
    padding: 20px 30px;
    border-radius: 20px;
}
.registration-form .form-fields button {
    background-color: #f2cc8f;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 40px;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.registration-form .form-fields button:hover {
    background-color: #fb8449;
}

.upcoming-events{
    padding: 6% 8%;
    background-color: #f4f1de;
}
.upcoming-events img{
    border-radius: 20px;
}
.upcoming-events .title-main{
    font-size: 36px;
    font-weight: 700;
}
.upcoming-events .events-wrapper{
    margin-top: 2%;
}
.upcoming-events .events-wrapper .event-card{
    padding: 20px 30px;
    display: flex;
    gap:3%;
    width: 100%;
    height: 35vh;
}
.upcoming-events .events-wrapper .event-card .event-top{
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 30px;
}
.upcoming-events .date-box{
    text-align: center;
    border-radius: 20px;
    padding: 20px 60px;
    max-height: 25%;
    background-color: #81b29a;
}
.upcoming-events .date-box p{
    font-size: 38px;
    font-weight: 500;
}
.upcoming-events .date-box .date-subtitle{
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.upcoming-events .event-details{
    width: 40%;
}
.upcoming-events .event-details .title-small{
    font-size: 26px;
    color: #3d405b;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.upcoming-events .event-details .title-small:hover{
    color: #f2cc8f;
}
.highlight{
    color: #3d405b;
    font-size: 30px;
}
.bold-text{
    font-weight: 600;
}
.info-grid{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.info-grid button{
    background-color: #f2cc8f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.upcoming-events .info-grid button:hover{
    background-color: #fb8449;
}
.card-bg{
    border-radius: 20px;
    background-color: white;
}
.contact{
    padding: 3% 7%;
}
.contact h1{
    font-size: 32px;
}
.contact .contact-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 50%;
}
.contact-up{
    display: flex;
    gap: 3%;
    width: 100%;
}
.contact-up .map{
    position: relative;
}
.contact-up .map-inner{
    position: absolute;
    background-color: #3d405b;
    padding: 20px 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: white;
    bottom: 40%;
    left: 30%;
    line-height: 1.7;
}
.map button{
    position: absolute;
    bottom:25%;
    left: 30%;
    padding: 2%;
    width: 35.3%;
    background-color: #e07a5f;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s ease-in-out;
}
.map button:hover{
    background-color: #edc88d;
}
.contact-up .map-inner h4{
    font-size: 16px;
    font-weight: 700;
}
.contact-up .map-inner .h3{
    font-size: 18px;
    font-weight: 500;
}
.contact-up .map-inner p{
    font-weight: 500;
}
.contact-container .top{
    display: flex;
    gap: 20px;
}
.contact-container input{
    padding: 18px 30px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid grey;
    margin: 5% 0%;
    font-size:14px;
}
.contact-container textarea{
    padding: 16px;
    border-radius: 10px;
    border: 1px solid grey;
    width:"5%";
    font-size:14px;
}
.contact-container button{
    background-color: #f2cc8f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.contact-container button:hover{
    background-color: #fb8449;
}
.contact-down{
    display: flex;
    gap: 30%;
    margin: 7% 0%;
}
.logo-container1{
    display: flex;
    gap: 3%;
    cursor: pointer;
}
.logo-container1 .h2{
    font-size: 24px;
    font-weight: 700;
}
.logo-container1 .h4{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.content-container{
    display: flex;
    gap: 18%;
    width: 150%;
}
.small-container1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    gap:40px
}
.fa-brands{
    background-color: #3d405b;
    color: white;
    padding: 6% 7%;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.fa-brands:hover{
    background-color:#81b29a;
}
.icons{
    display: flex;
    gap: 10px;
}
.final-text{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 18px;
    font-weight: 400;
}
.violet1{
    color: #3d405b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.violet1:hover{
    color: #f2cc8f;
}
.violet-1{
    color: #3d405b;
    font-size: 16px;
}